<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
    <meta http-equiv="cleartype" content="on">
    <meta name="HandheldFriendly" content="True">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="description" content="">
    <meta name="keyword" content="">
    <title></title>
    <script type="text/javascript" src="/js/tmpl.js"></script>

    <script type="text/html" id="user_tmpl">
        <% for ( var i = 0; i < users.length; i++ ) { %>
        <li><a href="<%=users[i].url%>"><%=users[i].name%></a></li>
        <% } %>
    </script>

</head>
<body>
    <div id="results"></div>
    <input type="button" value="load" onclick="newDoc()">
    <script>
        function newDoc()
        {
            window.location.assign("http://www.w3school.com.cn")
        }
    </script>
</body>
</html>